body {
	background-color:#FFF8D7;
}

div#tableContainer {
	display: table;
}

div#tableRow {
	display: table-row;
}

#leftside {
	display: table-cell;
	width: 700px;
	vertical-align: top;
}

#rightside {
	display: table-cell;
}